.env
venv
node_modules
node_modules\.package-lock.json
Compare.py
Compare.js
test.py
test.md
test.html
getrecipes.py
recipes.csv
recipes with updated supply and demand.xlsx
recipes.html
recipes with updated supply and demand.csv
data/file_list.txt
data/get_file_list.py
data
Check-in notes.txt
logs
app.log
app.log.1
app.log.2
app.log.3
satisfactory_tracker/src/components/Tracker/ExportShareButtons.js
satisfactory_tracker/src/components/Tracker/ModifiersPanel.js
satisfactory_tracker/src/components/Tracker/TrackerHeader.js
satisfactory_tracker/src/components/Tracker/TrackerTables.js
satisfactory_tracker/src/pages/TrackerPage.js
.gitignore
app_2025-01-19.log
