.env
venv
node_modules
node_modules\.package-lock.json
Compare.py
Compare.js
test.py
test.md
test.html
getrecipes.py
recipes.csv
recipes with updated supply and demand.xlsx
recipes.html
recipes with updated supply and demand.csv
data/file_list.txt
data/get_file_list.py
data
backup
Check-in notes.txt
logs
app.log
app.log.1
app.log.2
app.log.3
.gitignore
app_2025-01-19.log
.vscode
__pycache__/config.cpython-313.pyc
flask_server/app/build_tree_old.py
saves_files
z_machine_table_data.csv
z_recipe_mapping_data.csv
z_resource_node_data.csv
flask_server/migrations
.gitignore
flask_server/get_unique_recipes.py
satisfactory_tracker/src/components/Tracker/ExportShareButtons.js
satisfactory_tracker/src/components/Tracker/ModifiersPanel.js
uploads
flask_server/database_population/populate_machine_table.py
flask_server/database_population/populate_recipe_mapping_table.py
flask_server/database_population/populate_resource_node_table.py
