# Copy the following line to your terminal to install the required packages. Then go make a cup of tea. :)
npm install npm concurrently react-scripts react-router-dom react@18.2.0 react-dom@18.2.0 web-vitals axios @mui/material @emotion/react @emotion/styled @mui/icons-material @mui/lab @mui/x-tree-view

# You may need to run this separately
npm install concurrently --save-dev

# run after npm run build
npm install -g serve