BEGIN TRANSACTION;
CREATE TABLE part (
    id INT PRIMARY KEY AUTO_INCREMENT,
    part_name VARCHAR(255) NOT NULL,
    level INT,
    category VARCHAR(255)    
);
INSERT INTO part VALUES(1,'BAUXITE',0,'Raw Materials');
INSERT INTO part VALUES(2,'BLUE POWER SLUG',0,'Collectibles');
INSERT INTO part VALUES(3,'CATERIUM ORE',0,'Raw Materials');
CREATE TABLE recipe (
    id INT PRIMARY KEY AUTO_INCREMENT,
    part_id INT NOT NULL,
    recipe_name VARCHAR(255) NOT NULL,
    ingredient_count INT,
    source_level INT,
    base_input VARCHAR(255),
    base_production_type VARCHAR(255),
    produced_in_automated VARCHAR(255),
    produced_in_manual VARCHAR(255),
    base_demand_pm FLOAT,
    base_supply_pm FLOAT,
    byproduct VARCHAR(255),
    byproduct_supply_pm FLOAT,
    FOREIGN KEY(part_id) REFERENCES part(id)
);
INSERT INTO recipe VALUES(1,154,'_Standard',1,11,'COLLECT BACON AGARIC','Manual',NULL,'Collect By Hand',0.0,0.0,NULL,NULL);
INSERT INTO recipe VALUES(2,1,'_Standard',1,11,'BAUXITE MINING NODE','Automated','Miner','Collect By Hand',1.0,240.0,NULL,NULL);
INSERT INTO recipe VALUES(3,1,'Bauxite (Caterium)',1,0,'CATERIUM ORE','Automated','Converter',NULL,150.0,120.0,NULL,NULL);
CREATE TABLE alternate_recipe (
    id INT PRIMARY KEY AUTO_INCREMENT,
    part_id INT NOT NULL,
    recipe_id INT NOT NULL,
    selected INT DEFAULT 0 CHECK (selected IN (0, 1)),
    FOREIGN KEY(part_id) REFERENCES part(id),
    FOREIGN KEY(recipe_id) REFERENCES recipe(id)
);
INSERT INTO alternate_recipe VALUES(1,83,278,0);
INSERT INTO alternate_recipe VALUES(2,84,282,0);
INSERT INTO alternate_recipe VALUES(3,33,103,0);
CREATE TABLE node_purity (
    id INT PRIMARY KEY AUTO_INCREMENT,
    node_purity VARCHAR(255) NOT NULL
);
INSERT INTO node_purity VALUES(1,' Impure');
INSERT INTO node_purity VALUES(2,'Normal');
INSERT INTO node_purity VALUES(3,'Pure');
CREATE TABLE miner_type (
    id INT PRIMARY KEY AUTO_INCREMENT,
    miner_type VARCHAR(255) NOT NULL
);
INSERT INTO miner_type VALUES(1,'Mk1');
INSERT INTO miner_type VALUES(2,'Mk2');
INSERT INTO miner_type VALUES(3,'Mk3');
CREATE TABLE miner_supply (
    id INT PRIMARY KEY AUTO_INCREMENT,
    node_purity_id INT NOT NULL,
    miner_type_id INT NOT NULL,
    base_supply_pm FLOAT NOT NULL,
    FOREIGN KEY(node_purity_id) REFERENCES node_purity(id),
    FOREIGN KEY(miner_type_id) REFERENCES miner_type(id)
);
INSERT INTO miner_supply VALUES(1,1,1,30.0);
INSERT INTO miner_supply VALUES(2,1,2,60.0);
INSERT INTO miner_supply VALUES(3,1,3,120.0);
CREATE TABLE power_shards (
    id INT PRIMARY KEY AUTO_INCREMENT,
    quantity INT NOT NULL,
    output_increase FLOAT NOT NULL
);
INSERT INTO power_shards VALUES(1,1,1.5);
INSERT INTO power_shards VALUES(2,2,2.0);
INSERT INTO power_shards VALUES(3,3,2.5);
CREATE TABLE user (
	id INT NOT NULL, 
	username VARCHAR(150) NOT NULL, 
	role VARCHAR(100) NOT NULL, 
	email VARCHAR(150) NOT NULL, 
	password VARCHAR(200) NOT NULL, 
	is_verified BOOLEAN, 
	PRIMARY KEY (id), 
	UNIQUE (username), 
	UNIQUE (email)
);
INSERT INTO user VALUES(1,'catalyst','user','catherine.vandijk@gmail.com','pbkdf2:sha256:1000000$8d1oJOQJIlm9PF1t$f19d32cac453cebf8affbd81897f8482d1a9a2223948ad19087b7c8e4ecac8bc',0);
INSERT INTO user VALUES(2,'MentalEggs','user','catstuff7000@hotmail.com','pbkdf2:sha256:1000000$h6nsl5cjTlBl7Gqr$002e21b2a12bc910370a226f62877639ee2204a5a7d97648a17a7aae625e0519',0);
CREATE TABLE alembic_version (
	version_num VARCHAR(32) NOT NULL, 
	CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);
CREATE TABLE data_validation (id INT PRIMARY KEY AUTO_INCREMENT, table_name VARCHAR(255) NOT NULL, column_name VARCHAR(255) NOT NULL, value VARCHAR(255), description VARCHAR(255));
INSERT INTO data_validation VALUES(1,'part','category','Collectibles','Items that need to be manually collected');
INSERT INTO data_validation VALUES(2,'part','category','End Record','Indicated the end of recursion for the dependency tree');
INSERT INTO data_validation VALUES(3,'part','category','Equipment','Items for personal use');
INSERT INTO sqlite_sequence VALUES('part',212);
INSERT INTO sqlite_sequence VALUES('data_validation',77);
INSERT INTO sqlite_sequence VALUES('recipe',688);
COMMIT;
