Flask
Flask-Admin
Flask-Bcrypt
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-RESTful
flask-restplus
flask-jwt-extended
Flask-Security
Flask-SQLAlchemy
pytest
python-dotenv
requests
numpy